<div class="sidebar-module about">
  <h4>{{ site.locales[site.default_locale].Aboutme }}</h4>
  <img title="{{site.author}}" src="{{site.aboutme_photo}}" alt="{{site.author}}"/>
  <span>{{site.aboutme}}</span>
  <br />

  {% if site.ShowContactInfo == "True" %}

  Aussi sur les Internets:
<ul>
  {% if site.email != empty %}
  <li><a href="mailto:{{site.email}}" title="mailto: {{site.email}}">Email</a> </li>
  {% endif %}

  {% if site.twitter_username != empty %}
  <li><a href="https://twitter.com/{{site.twitter_username}}" title="TwitterID: {{site.twitter_username}}">Twitter</a></li>
  {% endif %}

  {% if site.twitter_username != empty %}
  <li><a href="https://https://mamot.fr/@madadafr">Mastodon</a></li>
  {% endif %}

  {% if site.twitter_username != empty %}
  <li><a href="https://aperi.tube/c/madada_channel/videos">Chaîne vidéos Peertube</a></li>
  {% endif %}

  {% if site.twitter_username != empty %}
  <li><a href="https://forum.madada.fr">Forum d'utilisateurs</a></li>
  {% endif %}

  {% if site.github_username != empty %}
  <li><a href="https://gitlab.com/madada-team">Code source Gitlab</a> 100% libre</li>
  {% endif %}

</ul>
  {% endif %}

</div>
