<footer class="site-footer">
  <p> Vos dons nous permettent de maintenir Ma Dada. Soutenez-nous sur <a href="https://liberapay.com/madada/">Liberapay</a> ou via <a href="https://www.helloasso.com/associations/open-knowledge-france/collectes/ma-dada-2022-pariez-sur-nous">HelloAsso</a>. 	 
  </p>
  <p>Propulsé par <a href="https://github.com/jekyll/jekyll">Jekyll</a> avec un thème conçu par <a href="https://yulijia.net">Lijia Yu</a>.
  </p>
</footer>
