---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | replace: page.title, site.locales[site.default_locale][page.title] }}</h1>
  </header>

  <article class="post-content"> 
    {{ content }}
  </article>

<!--
  {% if page.comments %}
  {% include comments.html %}
  {% endif %}
-->
</div> 
